body {
    background-image: url('./background.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}



.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.tableCell {
    color: white;
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
}

.tableCell img {
    border: 1px solid blue;
    border-radius: 50%; /* Round corners of images */
}

.tableCell a {
    text-decoration: none;
    color: black; /* Set link color */
    display: block;
    text-align: center;
}
h2 {
  color:black;
}

