.container {
  border: 2px solid blue;
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
}

.container h1 {
  color: #07078c;
}

.container h2 {
  color: #333;
}
