body {
    background-image: url('./background.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #386de8;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

.navbar ul ul li a:hover {
    background-color: #2759cc;
}

.navbar li a:hover,
.navbar .navbar > li > a:focus {
    background-color: #2759cc;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.tableCell {
    color: white;
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
}

.tableCell img {
    border: 1px solid blue;
    border-radius: 50%; /* Round corners of images */
}

.tableCell a {
    text-decoration: none;
    color: black; /* Set link color */
    display: block;
    text-align: center;
}
h2 {
  color:black;
}

