.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.circle img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.circle p {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}
